<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.travelapp" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28" />
	<application android:label="TravelApp.Android">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyADu-hlsYuopy5l7-biEK8bLSEEKJiz3EA" />
   <uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
</manifest>